<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <script src="http://localhost:3001/websockets/socket.io.js"></script>

    <link href="https://unpkg.com/vue-simple-notify/dist/vue-simple-notify.min.css" rel="stylesheet">
    <script src="https://unpkg.com/vue-simple-notify/dist/vue-simple-notify.min.js"></script>
</head>
<body> 
    <div id="v-app">
        <section class="alerts">
            <alerts-component :items="alerts"></alerts-component>
        </section>
        
        <section class="chat">
            <h1>{{title}}</h1>
            <form action="">
                <input class="form-group" v-model="text" type="text">
                <button class="btn btn-primary" type="submit" @click.prevent="sendChatMessage()">Send</button>
                
            </form>
            <div class="m-3">
                <button class="btn" :class="{'btn-success' : activeRoom == 'general'}" @click="activeRoom = 'general'">General</button>
                <button class="btn" :class="{'btn-success' : activeRoom == 'typescript'}" @click="activeRoom = 'typescript'">Typescript</button>
                <button class="btn" :class="{'btn-success' : activeRoom == 'vue'}" @click="activeRoom = 'vue'">Vue</button>
            </div>
            <div>
                Status : {{isMemberOfActiveRoom ? 'Joined' : 'NOT Joined'}} <button @click="toggleRoomMembership()">{{isMemberOfActiveRoom ? 'Leave' : 'Join'}}</button>
            </div>
            <p>
                <ul>
                    <li v-for="msg of messages[activeRoom]">
                        <strong>{{msg.sender}}</strong>&nbsp;{{ msg.text }}
                    </li>
                </ul>
            </p>
        </section>
    </div>
    <script>
        Vue.component('alerts-component', VueSimpleNotify.VueSimpleNotify)
        var app = new Vue({
            el: '#v-app',
            data: {
                username: '',
                title: 'Websockets tester',
                text: '',
                messages: {
                    general: [],
                    typescript: [],
                    vue: [],
                },
                rooms: {
                    general: false,
                    typescript: false,
                    vue: false,
                },
                activeRoom: 'general',
                alerts: [],
                socket: {chat: null, alert: null},
            },
            methods: {
                sendChatMessage() {
                    if(this.isMemberOfActiveRoom){
                        this.socket.chat.emit('chatToRoom', {sender: this.username ,text: this.text, room: this.activeRoom})
                        this.text = ''
                    } else {
                        alert("You must be a member of the active room to send a message")
                    }
                },
                recievedChatMsg(msg){
                    this.messages[msg.room].push(msg)
                },
                recievedAlertsMsg(msg){
                    this.alerts.push(msg)
                },
                toggleRoomMembership(){
                    if(this.isMemberOfActiveRoom){
                        this.socket.chat.emit('leaveRoom', this.activeRoom)
                    } else {
                        this.socket.chat.emit('joinRoom', this.activeRoom)
                    }
                }
            },
            computed: {
                isMemberOfActiveRoom(){
                    return this.rooms[this.activeRoom];
                }
            },
            created() {
                this.username = prompt('Enter username: ')
                this.socket.chat = io('http://localhost:3001/chat', {path: '/websockets'})
                this.socket.chat.on('recieveMessage', (msg) => {
                    this.recievedChatMsg(msg)                    
                })
                this.socket.chat.on('connect', () => {
                    this.toggleRoomMembership()
                })
                this.socket.chat.on('joinedRoom', (room) => {
                    this.rooms[room] = true
                })
                this.socket.chat.on('leftRoom', (room) => {
                    this.rooms[room] = false
                })
                
                this.socket.alerts = io('http://localhost:3001/alerts', {path: '/websockets'})
                this.socket.alerts.on('alertToClient', (msg) => {
                    this.recievedAlertsMsg(msg)                    
                })
            }
        })
    </script>
</body>
</html>